html {
    scroll-behavior: smooth;
    scroll-padding-top: 10em;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5F0EA;
    width: 100vw;
}

a{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: medium;   
    text-decoration: none;
    cursor: pointer;
    color: #4E4B66;
}

a:visited{
    color: #4E4B66;
}

a:hover{
    color: #40031D;
}


.nav-content{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: medium;
    color: #4E4B66;
    display: flex;
    gap: 3em;
    justify-content: flex-end;
    align-items: center;
}

header{
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 2em 12%;
    background-color: #F5F0EA;
    position: sticky;
    top: 0;
    z-index: 1;
}

.hamburger-menu{
    display: none;
}

main{
    padding: 0% 12%;
}

.main-collapsed{
    width: 60%;
}

#hero{
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    height: 100vh;
}

.hero-content{
    display: flex;
    padding-top: 8%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 70%;
}

p{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: large;  
    line-height: 200%;
    color: #4E4B66;
}

.label{
    font-weight: 500;
}

h1,h2{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #14142B;
}

h2{
    padding-bottom: 0.5em;
}



.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-icons{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero-right{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2em;
    height: 70vh;
}

.icon{
    width: 56px;
}

.hero-right > .chevron{
    display: none;
}

.straight-line{
    width: 28px;
    border-right: 1px solid #4e4b6638;
    height: 50em;
}


.horizontal-line{
    width: 10em;
    border-top: 1px solid #4e4b6638;
}

#section-title{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.project-image{
    width: 100%;
}

.project-group{
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

#selected-projects{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 6em;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
    position: relative;
    overflow: hidden;
}


.section-right{
    position: relative;
    top: 5em;
    padding-bottom: 3em;
}

#about-me{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 4em;
}

.section-text{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#section-title2{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    justify-content: right;
}

button{
    width: 200px;
    padding: 24px 48px;
    border: none;
    border-radius: 8px;
    background-color: #6D0632;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: large;  
    cursor: pointer;
}

button:hover{
    background-color: #40031D;
}


#section-content{
    display: flex;
    flex-direction: column;
    gap: 4em;
}

footer{
    padding: 2% 12%;  
}

#footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4e4b6638;
    padding: 5% 0%;
}

#footer-icons{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.CTAs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 12%;
    background-color: #F5F0EA;
    position: sticky;
    top: 0;
    z-index: 1;
}

.back {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.guide{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
    cursor: pointer;
}

.CTA-text{
    color: #6D0632;
    font-weight: 700; 
}

.CTA-text2{
    color: #6D0632;
    font-weight: 700; 
}

.page-heading{
    color: #14142B;
    font-weight: 700;
}


.CTA-text:hover, .CTA-text2:hover, .guide:hover{
    color: #40031D;
}

.guide-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: #F5F0EA;
    height: 100vh;
    padding: 2em 2em;
    width: 20%;
    box-shadow: -4px 0px 16px 0px #0000000F;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.guide-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.guide-item{
    border-bottom: 1px solid #00000033;
    padding-bottom: 24px;
}

.last-item{
    border-bottom: none;
}

.content-guide{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.open{
    display: flex;
}

.closed{
    display: none;
}

.close-icon{
    cursor: pointer;
}

.introduction{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em 0em;
}

.section-heading{
    display: flex;
    gap: 0.5em;
    padding: 1.5em 0em;
}

.section-text{
    color: #14142B;
    font-weight: 600;
}

.the-problem{
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

li{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: large;  
    line-height: 200%;
    color: #4E4B66;
    padding-bottom: 0.5em;
}

.bold{
    font-weight: 600;
}

.block{
    padding: 1.5em 1em;
    background-color: #E1D7DD;
    border-left: 4px solid #272333;
    margin: 1em 0em;
    padding: 1.5em 1em;
}

.block2{
    padding: 1.5em 1em;
    background-color: #CDEBFA;
    border-left: 4px solid #011b33;
    margin: 1em 0em;
    padding: 1.5em 1em;
}

.goals{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-bottom: 3em;
}

.subsection{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 2em;
}

.image-label{
    font-size:small;
}

.image {
    padding: 1.5em 0em;
}

.role, .timeline, .brainstorming, .usability-testing, .final-outcomes, .impact, .lessons, .research, .hypothesis{
    padding-bottom: 3em;
}

.usability-testing > .subsection{
    padding-top: 0em;
}


ol, ul{
    margin: 0.5em 1em;
}


ol > img{
    padding: 1em 0em 2.5em 0em;
}

.see-more > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h4{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5em;  
    color: #4E4B66;
}

.see-more > div > div{
    border-bottom: 1px solid #4e4b6638;
    width: 100%;
}

.see-more{
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: #FFFFFF;
    padding: 4em 6em;
    margin-bottom: 2em;
}

.hamburger-menu{
    display: none;
}

.research > .subsection, .final-outcomes > .subsection{
    padding-top: 0em;
    padding-bottom: 1.5em;
}

.video{
    margin-top: 2em;
}

.scroll-effect{
    border-bottom: none;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
}

#GM-problem{
    display: flex;
    flex: column;
    gap: 2em;
}

#GM-outcome ol > p {
    padding-bottom: 1em;
}

.project-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    padding: 2em;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none; 
}

.projects:hover .project-hover {
    opacity: 1;
    pointer-events: auto; 
}

.hover-h1{
    color: #FFFFFF;
    text-align: left;
}

.hover-h4{
    color: #FCFCFC;
    font-weight: 300;
    text-align: left;
}

.hover-p{
    color: #C7C7CC;
    text-align: left;
}

.divider{
    border: 1px solid rgba(252, 252, 252, 0.60);
    width: 100%;
}

.centered{
    align-items: center;
}








@media  (max-width:890px) {
    p{
        font-family: "DM Sans", sans-serif;
        font-weight: 300;
        font-size: medium;  
        line-height: 200%;
        color: #4E4B66;
    }

    h1,h2{
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #14142B;
    }

    li{
        font-size: medium; 
    }

    h4{
        font-weight: 500;
        font-size: 1em;  
    }

    .see-more{
        display: flex;
        align-items: center;
        gap: 5%;
        background-color: #FFFFFF;
        padding: 2em 4em;
    }

    .guide-container{
        width: 30%;
    }
}











@media  (max-width:680px) {
    p{
        font-family: "DM Sans", sans-serif;
        font-weight: 300;
        font-size: medium;  
        line-height: 200%;
        color: #4E4B66;
    }

    h1,h2{
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #14142B;
    }

    h4{
        font-size: 1em;  
    }

    li{
        font-size: medium;
    }

    .see-more{
        padding: 1em 2em;
    }

    .guide-container{
        width: 30%;
    }

    
    
}


















@media  (max-width:600px) {

    main{
        padding: 0% 8%;
    }

    .page-nav{
        padding: 2em 8%;
    }


    header{
        border-bottom: none;
    }

    p{
        font-family: "DM Sans", sans-serif;
        font-weight: 300;
        font-size: small;  
        line-height: 200%;
        color: #4E4B66;
    }

    h1,h2{
        font-family: "DM Sans", sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #14142B;
    }

    h4{
        font-size: 1em;  
    }

    .nav-content{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .guide > img{
        width: 32px;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        padding-top: 0%;
    }

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        width: 100%;
        text-align: center;
    }

    .hero-icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        height: auto;
        padding: 3em 0em;
    }

    .straight-line{
        display: none;
    }

    .project-group{
        display: flex;
        flex-direction: column;
        gap: 0em;
    }

    .icon{
        width: 15%;
    }

    .hero-right > .chevron{
        display: block;
    }

    .hero-left > a{
        display: none;
    }

    .hero-right{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 2em;
        height: auto;
        padding-top: 3em;
    }

    .horizontal-line{
        width: 5em;
    }

    .section-right{
        position: relative;
        top: 0em;
        padding-bottom: 0em;
    }

    .projects{
        align-items: center;
        cursor: pointer;
    }

    #selected-projects{
        padding-bottom: 4em;
    }

    .section-text > *{
        text-align: center;
    }

    #section-content{
        align-items: center;
    }


    .CTAs > .hide {
        display: none;
    }

    button{
        padding: 16px 24px;
    }

    #footer-content{
        flex-direction: column-reverse;
        gap: 2em;
        padding: 3em 0em;
    }

    li{
        font-size: small;
    }

    .see-more{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        background-color: #FFFFFF;
        padding: 2em 3em;
    }

    .see-more > img{
        width: 100%;
    }

    .see-more > div{
        width: 100%;
        align-items: center;
    }

    h4{
        text-align: center;
    }

    .CTA-text{
        display: none;
    }

    .back > img {
        width: 2em;
    }

    .block{
        padding: 1.5em 1em;
        margin: 1em 0;
    }

    .guide-container{
        width: 60%;
    }

    .hide{
        display: none;
    }

}